body,ul,li{
    margin:0px;
    padding:0px;
}

body{
    height:2500px;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a{
    text-decoration: none;/*删除下划线*/
}
ul{
    list-style-type: none;/*去除点*/
}
/*控制背景颜色*/
.top{
    background-color:#333;
    height:40px;
}

.top-one{
    margin:0 auto; /*上下0 左右居中*/
    width:1226px;
}
.top::before,.header-one::after{
    content: "";
    display: table;/*消除塌线*/
}
.top-one::after{
    clear: both;
}

.top a{
    color: #b0b0b0;
    font-size:12px;
}
.top a:hover{
    color:#fff;
}
.daohang-one{
    float: left;
    height: 40px;
    line-height: 40px;/*行高*/
    font-size:0;/*消除|的空格*/
}
.daohang-one span{
    font-size:12px;
    color: #424242;
    font-family:sans-serif;
    margin:0.5em;
}
.daohang-two,.daohang-three{
    float: right;
}

.daohang-two a{
    display: block;/*块元素*/
    height: 40px;
    line-height: 40px;/*字体高度*/
    text-align: center;/*文本居中*/
    width:120px;
    background-color: #424242;
}

.daohang-two span{
    margin-left:-4px;
    font-size:12px;
}

.daohang-two i{
    font-size: 20px;
    line-height: 20px;
    margin-right:4px;
    vertical-align: -4px;
}
.daohang-two a:hover{
    background-color:#fff;
    color:#ff6700;
}

.daohang-three{
    margin-right:15px;
}
.daohang-three a{
    float: left;
    padding:0 5px;
    line-height: 40px;
    height:40px;
}
.daohang-three span{
    float: left;
    font-family: sans-serif;
    font-size:12px;
    color: #424242;
    line-height:40px;
    height:40px;
}

.daohang-three .kongge{
    padding:0 10px;
}

.header{
    height:100px;
    
}

.fenlei-logo {
    float: left;
    width:62px;
    margin-top:22px;
    margin:1.5em;
    
}

.fenlei-logo a{
    display: block;/*块元素*/
    width:55px;
    height:55px;
}
.fenlei{
    float:left;
    width:820px;
    height:100px;
    
}

.fenlei .fenlei-list{
    width:820px;
    height:88px;
    font-size:16px;
    padding:12px 0 0 142px;
}

.fenlei .fenlei-list .fenlei-item{
    float: left;

}

.fenlei .fenlei-list .fenlei-item a{
    display: block;
    padding:26px 10px 38px;
    color: #333;
}

.fenlei .fenlei-list .fenlei-item a:hover{
    color:#ff6700;
}

.fenlei-gouwu{
    float: right;
    width:296px;
    height:50px;
    margin-top:25px;
    
}

.fenlei-gouwu .gouwu-form{
    position: relative;/*给绝对定位创造点 让他相对于表单而不是相对于body*/
    display: block;
    width:296px;
    height:50px;
}

.fenlei-gouwu .gouwu-form .gouwu-text{
    position: absolute;
    top:0px;
    right:51px;
    display: block;
    width:240px;
    height:46px;
    line-height:48px;/*文字居中*/
    border:1px solid #e0e0e0;
    outline:0;/*去线*/
    margin:0px 18px 0px 0px;
}

.fenlei-gouwu .gouwu-form .gouwu-btn{
    position: absolute;
    top:0;
    right:0;
    display: block;
    width:52px;
    height:50px;
    border:1px solid #e0e0e0;
    font-size:24px;/*字体大小*/
    line-height: 24px;
    background:#fff;
    color: #616161;
    outline:0;
    margin:0px 18px 0px 0px;
}
.fenlei-gouwu .gouwu-form .gouwu-btn:hover{
    background-color:#ff6700;
    color:#fff;
}

.xuanzequ {
    width:234px;
    height:460px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left:20px;
    z-index: 10;
}

p{
    list-style-type: none;
    margin:0;
    padding:0;
}



.xuanzequ  .xuanzequ-first a:hover{

    background-color:#ff6700;
}

.xuanzequ-beijing{
    transform: scale(0.5);
    position: absolute;
    top:-90px;
    left:-594px;
    z-index: -1;
}

.xuanzequ .xuanzequ-first{
   
    weight:234px;
    height:460px;
    padding:20px 0 0 0;

}
.xuanzequ  .xuanzequ-first a{
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 40px;
    color: #fff;
    z-index: 10;
}

.xuanzequ-first a i{
    list-style-type: none;
    font-size: 20px;
    line-height: 20px;
    margin-right:4px;
    vertical-align: -4px;
}